.App {
  text-align: center;
}

body {
  background-color: #0c0c0c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 1.3vw;
}

.container {
  width: 50vw;
  max-width: 100%;
}

input[type="file"] {
  display: none;
}

.qcolumn {
  text-align: center;
}

.qicon {
  font-size: 10vmin;
  display: flex;
  margin-bottom: 20px;
  color: rgb(216, 216, 216);
  transition: 0.4s;
  display: inline-block;
}

.qicon:hover {
  color: rgb(218, 199, 34);
  font-size: 9vmin;
  margin-bottom: 20px;
}
.MuiTableRow-root:nth-child(even){
  background-color: rgb(255, 255, 255);
}
      
.MuiTableRow-root:nth-child(odd){
  background-color: rgb(245, 245, 245);
}

.modal-content {
  color: black
}

dataTag {
  font-size: 0.8vw;
  color: rgb(85, 84, 84);
}

.modal-body{
  padding-top: 0;
  padding-bottom: 0;
}

.dataTitle {
  font-size: 0.8vw;
  color:rgb(0, 0, 0)
}

.row > * {
  padding-right: 0;
  padding-left: 0;
}

.groupButton{
  font-size: 15vmin;
  display: flex;
  margin-bottom: 20px;
  color: rgb(216, 216, 216);
  transition: 0.4s;
  display: inline-block;
}

.checkButton {
  color: rgb(0, 187, 12);
  transition: 0.7s;
}

.cil-plus {
  transition: 0.8
} 

.sent {
  color: rgb(218, 204, 18);
  transition: 0.8
}